---
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import GetInTouch from '../../components/GetInTouch.astro'
---

<GlobalLayout>
  <div class="font-sans px-4 pt-4 text-lg md:px-8">
    <GetInTouch />
  </div>
  <div class="flex flex-col items-center py-4">
    <img
      src="https://pihovfuuvvf4hivn.public.blob.vercel-storage.com/nicole-above-1.jpg"
      alt="Nicole Above"
      loading="lazy"
      decoding="async"
      class="w-full h-auto object-contain transition-transform duration-200 group-hover:scale-[1.02]"
    />
  </div>
</GlobalLayout>
