---
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import ShowPics from '../../components/ShowPics.astro'
---

<GlobalLayout>
  <div class="font-sans px-4 pt-4 text-lg md:px-8">
    <div class="flex flex-col items-center">
      <h2 class="text-lg font-bold">Upcoming Shows</h2>
      <div class="py-4 text-base md:py-4">
        <ul class="list-disc pl-5">
          <li>
            1/31 Porchlight Presents live at Cassette:
            <a
              href="https://link.dice.fm/Cc05d626ace5"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700">Tickets</a
            >
          </li>
          <li>2/?? Porchlight Presents an Open Mic in the Living Room (More info soon)</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <h2 class="py-4 text-lg font-bold">Archive</h2>
      <div class="py-2 text-base md:py-4">
        <p>DPSOR and OPS COME TOGETHER (ADD TEXT)</p>
      </div>
      <div class="w-full max-w-full pt-4">
        <ShowPics />
      </div>
    </div>
  </div>
</GlobalLayout>
