---
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import ShowPics from '../../components/ShowPics.astro'
import Archive from '../../components/Archive.astro'
---

<GlobalLayout>
  <div class="font-sans px-4 md:px-8">
    <div class="flex flex-col items-center">
      <div class="py-4 md:py-4">
        <Archive />
      </div>
    </div>
  </div>
</GlobalLayout>
