---
import GlobalLayout from '../layouts/GlobalLayout.astro'
import FrontPageBlurb from '../components/FrontPageBlurb.astro'
import HomePageDonate from '../components/HomePageDonate.astro'
import ShowPics from '../components/ShowPics.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Porchlight Presents</title>
  </head>
  <body>
    <GlobalLayout>
      <div class="flex flex-col font-sans text-md px-4 gap-4 md:px-8">
        <div class="py-4">
          <FrontPageBlurb />
        </div>
        <div class="flex justify-center">
          <HomePageDonate />
        </div>
        <ShowPics />
      </div>
    </GlobalLayout>
  </body>
</html>
