---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import text from "../data/text/mission.json"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>On Pacific Street</title>
	</head>
	<body>
		<GlobalLayout>
			<div class="font-sans px-24 text-lg">
				<div class="py-4">
					<p class="py-4">{text.mission_luka.paragraph1}</p>
					<p class="py-4">{text.mission_luka.paragraph2}</p>
					<p class="py-4">- Luka</p>
				</div>
				<div class="py-4">
					<p class="py-4">{text.mission_matt}</p>
					<p class="py-4">- Matt</p>
				</div>
			</div>
		</GlobalLayout>
	</body>
</html>
