---
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import Donate from '../../components/Donate.astro'
---

<GlobalLayout>
  <div class="font-sans px-4 pt-4 text-lg md:px-8">
    <div class="flex flex-col items-center">
      <Donate />
    </div>
  </div>
</GlobalLayout>
