---

---

<div class="flex flex-col gap-4 py-4">
  <div class="flex flex-col">
    <p class="text-lg font-bold">Get in touch</p>
  </div>
  <div class="flex flex-col">
    <p>
      Wanna play a show? Have us help you host one? Want to talk about how you can support us or
      just chat? Reach out on email or instagram!
    </p>
  </div>
  <div class="flex flex-col">
    <p>email: porchlightpresents@gmail.com</p>
  </div>
  <div class="flex flex-col">
    <p>
      instagram: <a
        href="https://www.instagram.com/porchlight.presents/"
        target="_blank"
        rel="noopener noreferrer">@porchlight.presents</a
      >
    </p>
  </div>
</div>
