---
const currentPath = Astro.url.pathname;
---
<nav class="w-full">
    <div class="flex flex-col items-center justify-center py-8">
        
            <div class="flex justify-center w-full">
                <a href="/" class="flex flex-col w-[50%] items-center">
                    <div class="w-[50%]">
                        <img src="/images/porchlight-presents.png" class="mx-auto" />
                    </div>                    
                </a>
            </div>
            <div class="flex justify-center w-full">
                <a href="/" class="flex flex-col w-[50%] items-center">
                    <div class="w-[50%]">
                        <img src="/images/porch.png" class="mx-auto" />
                    </div>                    
                </a>
            </div>
        
        <ul class="flex flex-row justify-between font-semibold text-xs font-sans mt-4 w-[25%] min-w-[300px]">
            <li class="px-2"><a href="/" class={`hover:underline ${currentPath === '/' ?  'underline' : ''}`}>HOME</a></li>
<li class="px-2">
                <a href="/our-shows" 
                   class={`hover:underline whitespace-nowrap ${currentPath === '/' ?  'underline' : ''}`}
                   style="font-size: clamp(0.65rem, 1vw, 0.75rem);">
                   OUR SHOWS
                </a>
            </li>
            <li class="px-2">
                <a href="/mission" 
                   class={`hover:underline whitespace-nowrap ${currentPath === '/' ?  'underline' : ''}`}
                   style="font-size: clamp(0.65rem, 1vw, 0.75rem);">
                   MISSION
                </a>
            </li>
            <!-- <li class="px-2">
                <a href="/about" 
                   class={`hover:underline whitespace-nowrap ${currentPath === '/about' ?  'underline' : ''}`}
                   style="font-size: clamp(0.65rem, 1vw, 0.75rem);">
                   ABOUT
                </a>
            </li>
            <li class="px-2">
                <a href="/get-in-touch" 
                   class={`hover:underline whitespace-nowrap ${currentPath === '/get-in-touch' ?  'underline' : ''}`}
                   style="font-size: clamp(0.65rem, 1vw, 0.75rem);">
                   GET IN TOUCH
                </a>
            </li> -->
        </ul>
    </div>
</nav>
