---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import text from "../../data/text/mission.json"
---

<GlobalLayout>
    <div class="font-sans px-24 text-lg">
        <div class="py-4">
            <p class="py-4">Our mission, in our words</p>
        <div>
        <div class="py-4">
            <p class="py-4">{text.mission_luka.paragraph1}</p>
            <p class="py-4">{text.mission_luka.paragraph2}</p>
            <p class="py-4">- Luka</p>
        </div>
        <div class="py-4">
            <p class="py-4">{text.mission_matt}</p>
            <p class="py-4">- Matt</p>
        </div>
    </div>
</GlobalLayout>
