---
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import ShowPics from '../../components/ShowPics.astro'
import Archive from '../../components/Archive.astro'
---

<GlobalLayout>
  <div class="font-sans px-4 pt-4 md:px-8">
    <div class="flex flex-col items-center">
      <h2 class="font-bold">Upcoming Shows</h2>
      <div class="py-4 md:py-4">
        <ul class="list-item pl-5 font-bold">
          <li>
            - 2/22 Porchlight Presents an Open Mic in the Living Room: <a
              href="https://partiful.com/e/5qHTYuabEnblAzzCs9IU"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700">invite here</a
            >
          </li>
          <li>
            - 3/7 Porchlight Presents live at Cassette:
            <a
              href="https://link.dice.fm/D8qRvWP1H0b"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700">Tickets</a
            >
            <div class="w-full max-w-full flex justify-center items-center py-4">
              <img
                src="https://pihovfuuvvf4hivn.public.blob.vercel-storage.com/march7-cassette-poster.jpeg"
                alt="Cassette Poster"
                loading="lazy"
                decoding="async"
                class="max-h-200 object-contain transition-transform duration-200 group-hover:scale-[1.02]"
              />
            </div>
          </li>
        </ul>
        <div class="flex flex-col items-center pt-8">
          <p class="">
            Wanna play a show with us? Have a space you think would be a great fit for one of our
            shows? Send us an email at <a
              href="mailto:porchlightpresents@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700">porchlightpresents@gmail.com</a
            > or message us on instagram <a
              href="https://www.instagram.com/porchlight.presents/"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700">@porchlight.presents</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</GlobalLayout>
