---
import '../styles/global.css'
import Navbar from '../components/Navbar.astro'
import SocialIcons from '../components/SocialIcons.astro'
---

<html>
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta charset="utf-8" />
    <title>Porchlight Presents</title>
  </head>
  <body class="bg-warm-beige">
    <div
      class="relative bg-warm-off-white mx-auto flex min-w-[200px] w-full flex-col items-center md:w-[60%] md:px-10 md:py-8"
    >
      <Navbar />
      <div class="flex w-full max-w-full flex-col items-center pb-8 md:pb-16">
        <div class="flex w-full max-w-full flex-row justify-between relative">
          <!-- Page Content -->
          <div class="flex min-w-0 flex-1 flex-col">
            <slot />
          </div>
          <!-- End Page Content -->
        </div>
      </div>
      <!-- Top-right social/contact icons -->
      <SocialIcons />
    </div>
  </body>
</html>
